<div class="tarea animate__animated animate__fadeIn"
>
<!-- [ngStyle]="{ 'background-color': tarea.estado === 'Inicio' ? '#a3e4d7aa' : tarea.estado === 'En proceso' ? '#7ac5cd' : '#ffb6c1aa'}" -->
  <div class="tarea__no-edicion" *ngIf="!enEdicion">
    <div>
      <span class="nombre">Nombre: </span><span class="descripcion">{{ tarea.nombre }}</span>
    </div>
    <div>
      <span class="nombre">Acción: </span><span class="descripcion">{{ tarea.accion }}</span>
    </div>
    <div>
      <span class="nombre">Responsable: </span><span class="descripcion">{{ tarea.responsable }}</span>
    </div>
    <div>
      <span class="nombre">Duración: </span><span class="descripcion">{{ tarea.duracion }}</span>
    </div>
    <div>
      <span class="nombre">Estado: </span><span class="descripcion">{{ tarea.estado }}</span>
    </div>
  </div>
  <form class="tarea__edicion" *ngIf="enEdicion" autocomplete="off" [formGroup]="miFormulario">
    <input class="texto" type="text" formControlName="nombre" [value]="tarea.nombre" placeholder="Nombre">
    <input class="texto" type="text" formControlName="accion" [value]="tarea.accion" placeholder="Acción">
    <input class="texto" type="text" formControlName="responsable" [value]="tarea.responsable" placeholder="Responsable">
    <input class="texto" type="number" formControlName="duracion" [value]="tarea.duracion" placeholder="Duración">
  </form>
  <div class="tarea__botones">
    <!-- <button *ngIf="!enEdicion" (click)="cambiarEstado(tarea)" class="boton boton--estado"><mat-icon>sync</mat-icon></button> -->
    <button *ngIf="!enEdicion" (click)="modoEdicion()" class="boton boton--editar">Editar</button>
    <!-- <button *ngIf="!enEdicion" (click)="eliminar(tarea.id)" class="boton boton--eliminar">Eliminar</button>
    <button *ngIf="enEdicion" (click)="editar(tarea)" class="boton boton--guardar">Guardar</button> -->
    <button *ngIf="enEdicion" (click)="cancelar()" class="boton boton--cancelar">Cancelar</button>
  </div>
</div>
