<div class="tarea"
    [ngStyle]="{ 'border': tarea.estado === 'Inicio' ? '2px solid aquamarine' : tarea.estado === 'En proceso' ? '2px solid blue' : '2px solid goldenrod'}"
>
  <div class="tarea__no-edicion" *ngIf="!enEdicion">
    <span>{{ tarea.nombre }}</span>
    <span>{{ tarea.accion}}</span>
    <span>{{ tarea.responsable }}</span>
    <span>{{ tarea.duracion }}</span>
    <span>{{ tarea.estado }}</span>
  </div>
  <form class="tarea__edicion" *ngIf="enEdicion" autocomplete="off" [formGroup]="miFormulario">
    <input class="texto" type="text" formControlName="nombre" [value]="tarea.nombre" placeholder="Nombre">
    <input class="texto" type="text" formControlName="accion" [value]="tarea.accion" placeholder="Acción">
    <input class="texto" type="text" formControlName="responsable" [value]="tarea.responsable" placeholder="Responsable">
    <input class="texto" type="time" formControlName="duracion" [value]="tarea.duracion" placeholder="Duración">
  </form>
  <div class="tarea__botones">
    <button *ngIf="!enEdicion" (click)="cambiarEstado(tarea)" class="boton boton--estado"><mat-icon>sync</mat-icon></button>
    <button *ngIf="!enEdicion" (click)="modoEdicion()" class="boton boton--editar">Editar</button>
    <button *ngIf="!enEdicion" (click)="eliminar(tarea.id)" class="boton boton--eliminar">Eliminar</button>
    <button *ngIf="enEdicion" (click)="editar(tarea)" class="boton boton--guardar">Guardar</button>
    <button *ngIf="enEdicion" (click)="cancelar()" class="boton boton--cancelar">Cancelar</button>
  </div>
</div>
