.tarea {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: 1px solid aquamarine;
  color: #fff;
  height: auto;
  padding: 10px;
  border-radius: 5px;

  &__no-edicion {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 5px;
  }

  &__edicion {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 5px;

    .texto {
      background-color: transparent;
      color: white;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-color: aquamarine;
      padding: 10px;

      &:focus {
        outline: none;
        border-bottom-color: blueviolet;
      }
    }
  }

  .tarea__botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 30%;

    .boton {
      width: 100px;
      height: 50px;
      border: none;
      color: white;
      border-radius: 5px;
    }

    .boton--estado {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: aqua;
      }
    }

    .boton--editar {
      background-color: goldenrod;
    }

    .boton--guardar {
      background-color: aqua;
    }
    
    .boton--eliminar {
      background-color: darksalmon;
    }

    .boton--cancelar {
      background-color: transparent;
    }
  }
}